In the first tutorial, our goal is to be familar with basic operators and functions in Python.

# Basic data types

1. **int**. x = 1
2. **float**. x = 1.5
3. **boolean**. x = True, x = False
4. **string**. x = 'hello world'
5. **list**. x = [1, 1.5, True, 'hello world']
6. **dict**. x = {'Name': 'Tom', 'age': 20, 'height': 170}

In [ ]:
x = [1, 1.5, True, 'Tom']
print(x[0]) # use index to access elements of the list, 0 represents the first index (It is not 1, be careful!)
print(x[1])
print(x[2])
print(x[3])

1
1.5
True
Tom

# Conditions
1. if $\cdots$, else $\cdots$

In [ ]:
# Conditions

x = 1
if x > 2:
  print('x is larger than 2')
else:
  print('x is smaller than or equal to 2')

x is smaller than or equal to 2

In [ ]:
# 'else' can be omitted
if x > 2:
  print('x is larger than 2')

# Loops
1. for
2. while

In [ ]:
for x in [1, 2, 3, 4, 5]:
  print(x)

1
2
3
4
5

In [ ]:
for x in range(1, 10):
  print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 1
while x <= 10:
  x = x + 3
  print(x)
print(f'The first x greater than 10 is equal to {x}')

4
7
10
13
The first x greater than 10 is equal to 13

## Short practices
1. Calculate the sum from 1 to 100, using `while` or `for`.
2. Given a list L, for each element in it, increase the value by 1 if it is larger than 10, otherwise decrease it by 2 (Hint: use `for` and `if`). \\
Example: [10, 11, 9, 4] -> [8, 12, 7, 2].

In [21]:
# Use for loop

total = 0

for i in range(1,101):
    total += i
print(total)

5050

In [26]:
# Use while loop

total=0
i=1
while i <= 100:
    total += i
    i += 1
print(total)

5050

In [29]:
# practice
L = [3, 77, 7, 10,12, 11, 14]

L_new = []

for i in L :
    if i > 10 :
        i += 1
        L_new.append(i)
    else :
        i -= 2
        L_new.append(i)

print(L_new)

[1, 78, 5, 8, 13, 12, 15]

# Functions
format: 'def function():'

In [ ]:
def myprint(start_value, end_value): # print the value from start_value to end_value (exclusive)
  for i in range(start_value, end_value):
    print(i)

In [ ]:
myprint(1, 5)

1
2
3
4

In [ ]:
myprint(2, 4)

2
3

In [ ]:
def calculate(x, y):
  z = x + y
  return z

In [ ]:
z = calculate(1,2)
print(z)

3

## Short practices
1. Define a function with arguments of `start_value` and `end_value`, which calculates the sum from `start_value` to `end_value`(**inclusive**). Hint: use the `range` function.
2. Use conditions to check whether `start_value` is larger than `end_value`. If yes, print out the message "The start_value should be smaller than end_value, try other values".

In [47]:
# practices

def wholesum (start_value, end_value):

    total = 0

    if start_value > end_value :
        print("The start_value should be smaller than or equal to end_value.")

    else :
        for i in range(start_value, end_value+1) :
            total += i

    return total

In [48]:
wholesum(1,5)

15

In [49]:
wholesum(5,2)

The start_value should be smaller than or equal to end_value.

0

# Classes
`class` is the most important and fundamental concept in Python. Let us start by seeing what is `class` and what it can do.

In [ ]:
class mycalculator():
  def __init__(self): # necessary for the construction of `class`
    self.summand = 1

  def add(self, x):
    x = x + self.summand
    return x

In [ ]:
calculator1 = mycalculator()
calculator1.add(10)

11

Notice in the above example, `mycalculator` is called `class`, `calculator1` is called `instance`. By using the `mycalculator`, you can create a lot of calculators. Let's see why we need `class`.

In [ ]:
class mycalculator():
  def __init__(self, summand): # This function will only be used when create an instance, see the examples below.
    self.summand = summand

  def add(self, x):
    x = x + self.summand
    return x

In [ ]:
calculator1 = mycalculator(1) # calculator1.summand is equal to 1
x = calculator1.add(10)
print(f'x from the first calculator is equal to {x}')

calculator2 = mycalculator(2) # calculator2.summand is equal to 2
x = calculator2.add(10)
print(f'x from the second calculator is equal to {x}')

x from the first calculator is equal to 11
x from the second calculator is equal to 12

You see that, by using `class`, we can create a lot of calculators with different functions! It can greatly save your time if you need to repeat some tasks for many times, while all tasks are slighly different.

## Short practices
1. Complete the code for `class` employee.
2. Define a class function to check whether the age is larger than 20 or not. If yes, print out "The age is larger than 20", otherwise print out "The age is not larger than 20".
3. Create two instances `Tom` and `Jerry`, set their ages as 19 and 21, respectively.
4. Use the class function `check` to check whether the age is larger than 20 or not.

In [64]:
# practices
class employee():
  def __init__(self, age):
    self.age = age

  def check(self) :
    if self.age > 20 :
        print("The age is not larger than 20")
    else :
        print("The age is not larger than 20")

In [66]:
tom = employee(19)
jerry = employee(21)

In [67]:
employee.check(tom)

The age is not larger than 20

In [68]:
employee.check(jerry)

The age is not larger than 20